// alerts
@import 'base';

.alert{
    background: #1d1d1d;
    color: #f0f0f0;
    padding: .5em 1.5em;
    display: block;
    width: 90%;
    margin: 0 auto;
    border-radius: .3em;
    box-shadow: $box-shadow-base;
    transition: $transition;
    text-align: center;

    margin: 1% 2% 2% 0;
}
