// base helper rules

$box-shadow-base: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$box-shadow-hover:  0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$transition: all 0.3s cubic-bezier(.25,.8,.25,1);
$text-shadow-btn: 0px 2px 5px #1d1d1d;
@import url('https://fonts.googleapis.com/css?family=Oswald|Raleway');

body, p, i, span{
    font-family: 'Raleway';
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Oswald';
    font-weight: 600;
    text-align: center;
    margin: 2em auto;
}
